################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/StatisticsAnalize/FileContentIndex/6eb5da1a-a200-41da-8b22-5400ab210a29.vsidx
/.vs/StatisticsAnalize/FileContentIndex/9529f0a7-05cf-48cc-9157-825b75e39740.vsidx
